/* reglas
selectores
declaraciones
propiedades
valores */

/* regla */

/* selector de ETIQUETA "header"-->*/
/* declaración "background"--->*/
/* valores "red"*/
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.log{
  margin-top: 0px;
}
.logo-img{
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 80px;
}

.hero{
  height: 292px;
  background-image: url('../images/FotoPerfil.jpg');
  background-color: #000000;
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}
.hero-text{
  padding-top: 75px;
  padding-left: 50px;
  font-style: oblique;  
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.header {
  margin-top: 0px;
  background-color: #c96969;
  color: white;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}

h1,h2,h3,h4,h5,h6{
  color: white;
  font-family: 'Fjalla', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 150%;
  letter-spacing: -.2px;
  margin: 0px 0px 0px 0px;
}
h1 strong{
  color: #026fff;
}

.project{
  margin-top: 0;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 15px;
}
.porfolio-title__h2{
  margin-top: 20px;
  padding-top: 10px;
}
.project-details{
  width: 500px;
}

.header a{
  color: white;
  text-decoration: none;
}
.porfolio{
  background: #000000;
}
/*selector de etiqueta header - section
selector descendente
body header div -> nav -> ol -> li -> a */

/* El selector de CLASE (class) se le pone un punto antes del nombre ej = .portafolio  */

/* .link */

/* selector de ID */
/*#portafolio */
