/* reglas
selectores
declaraciones
propiedades
valores */

/* regla */

/* selector de ETIQUETA "header"-->*/
/* declaración "background"--->*/
/* valores "red"*/
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo-img{
  width: 700px;
  height: 130px;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Fjalla', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 150%;
  letter-spacing: -.2px;
  color: white;
  margin: 0px 0px 0px 0px;
}
h1 strong{
  color: #026fff;
}

.hero{
  height: 300px;
  background-image: url('../images/datos.webp');
  background-color: #1b2127;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.project{
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 15px;
}

.project-details{
  width: 500px;
}
.header{
  background-color: #1b2127;
  color: white;
}
.header a{
  color: white;
  text-decoration: none;
}
.porfolio{
  margin: 0;
  background: #626262;
}
.flexbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.box{
  width: 200px;
  height: 200px;
  border: 1px solid red;
  flex-shrink: 0;
  margin: 10px;
}
/*selector de etiqueta header - section
selector descendente
body header div -> nav -> ol -> li -> a */

/* El selector de CLASE (class) se le pone un punto antes del nombre ej = .portafolio  */

/* .link */

/* selector de ID */
/*#portafolio */
