.footer{
    font-style: oblique;
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer img{
    vertical-align: middle;
  }
  .footer a{
    color: #ff5353;
  }
.footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }