<article id="experience_detail" class="experience_detail">
    <div id="experience_detail_title" class="experience_detail_title">
        <h2 id="experience_detail_title-general" class="experience_detail_general">
            
        </h2>
        <h3 id="experience_detail_title-date" class="experience_detail_title-date">
            
        </h3>
        <h4 id="experience_detail_title-description" class="experience_detail_title-description">
            
        </h4>
    </div>
    <div id="experience_detail_function" class="experience_detail_function">
        <h5 id="experience_detail_function-title" class="experience_detail_function-title">
            
        </h5>
        <p id="experience_detail_function-description" class="experience_detail_function-description">
            <ul id="experience_detail_function-description-list" class="experience_detail_function-description-list">
                <li>
            
                </li>
                <li>
            
                </li>
                <li>
            
                </li>
                <li>
            
                </li>
                <li>
            
                </li>
                <li>
            
                </li>
                <li>
            
                </li>
            </ul>
        </p>
    </div>
</article>